body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 428px;
    margin: auto;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

header div {
    padding: 20px;
}

nav {
    position: fixed;
    transform: translateX(100%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.3s;
}

nav p {
    padding: 25px;
    font-size: 25px;
}


nav h1 {
    margin-top: 50px;
}



.apparait {
    position: fixed;
    transform: translateX(0%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.3s;
    text-align: center;
    color: white;
    background-color: black;
    opacity: 0.9;
    z-index: 1;
}

.elements {
    display: flex;
}

.element {
    flex: 1 0 100%;
}

.diapo {
    position: relative;
    overflow: hidden;
}

#nav-gauche, #nav-droite{
    position: absolute;
    top: 250px;
    cursor: pointer;
}

#nav-droite {
    right: 0;
}

.explication {
    font-size: 1em;
    text-align: center;
    margin-top: 100px;
}

nav svg:hover{
    transform: scale(1.1);
}

.burger:hover{
    transform: rotate(90deg);
    transition: 0.4s;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    text-decoration: underline;
}